<div id="action_wrapper" class="action-wrapper">
  <div class="container">
    <div id="map_name" class="title-text"><%= @map_name %></div>

    <div id="add_button" class="add-button">
      <div class="plus-icon"><%= image_tag "plus_button.svg" %></div>
      <div class="add-button-text">Добавить</div>
    </div>

    <div class="action-wrapper-button">
      <button id="switch_move_button" class="btn btn-info">Переключить режим</button>
    </div>

    <div id="delete_zone_button" class="action-wrapper-button">
      <div class="btn btn-info">Удалить зону</div>
    </div>

    <div id="ruler_button" class="ruler-button">
      <%= image_tag "ruler.svg", id: "ruler_img" %>
    </div>
  </div>
</div>

<div class="canvas-wrapper">
  <canvas id="canvas"></canvas>
</div>
