<div id='wrapper'>
  <div id='action_wrapper'>
    <div class='title-text'>MapName</div>
    <div id='add_button'>
      <div id='plus_icon'><%= image_tag 'plus_button' %></div>
      <div id='text'>Добавить</div>
    </div>

    <div id='ruler_button'>
      <%= image_tag 'ruler' %>
    </div>

  </div>
  <div id='canvas_wrapper'>
    <canvas id='canvas' resize></canvas>
  </div>
</div>
