<% content_for :title do  %>
  <div id="map_name"><%= @map_name %></div>
<% end %>

<%= render 'search' %>

<% content_for :action_wrapper do %>
  <%= image_tag "ruler.svg", id: "ruler_button", class: "btn" %>
  <button id="delete_button" class="btn btn-success">Удалить зону / фигуру</button>
  <button id="add_button" class="btn btn-success">Добавить</button>
  <button id="switch_mode_button" class="btn btn-success">Переключить режим</button>
<% end %>

<div class="ibox-content">
  <div id="canvas_wrapper" class="canvas-wrapper">
    <canvas id="canvas"></canvas>
  </div>
</div>
