<div id='wrapper'>
  <div id='action_wrapper'>
    <div id='map_name' class='title-text'><%= @map_name %></div>

    <!-- help block, move map -->

    <div class="move-map-wrapper">
      <label>Вниз:</label>
      <input id="down_move_input" class="move-input" value="0" autocomplete="off"></input>
      <label>Вправо:</label>
      <input id="right_move_input" class="move-input" value="0" autocomplete="off"></input>
      <button class="btn btn-info" id="move_button">Подвинуть</button>
    </div>

    <!-- -->

    <div id='add_button'>
      <div id='plus_icon'><%= image_tag 'plus_button' %></div>
      <div id='text'>Добавить</div>
    </div>

    <div class="switch-mode-wrapper">
      <button id="switch_move_button" class="btn btn-info">Переключить режим</button>
    </div>

    <div id='ruler_button'>
      <%= image_tag 'ruler', id: 'ruler_img' %>
    </div>



  </div>
  <div id='canvas_wrapper'>
    <canvas id='canvas'></canvas>
  </div>
</div>
