%link {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: #484b48;
  }
}

.extended-search-wrapper {
  .name-link,
  .ip-link {
    @extend %link;
  }
}

.search-params-wrapper {
  .search-button {
    margin-top: 23px;
  }
}
