$theme-color: #808080;
// canvas wrapper

.canvas-wrapper {
  overflow: hidden;
  height: 99vh;
  margin: -19px;
  margin-top: -14px;
  position: relative;

  .info-box {
    position: absolute;
    width: 300px !important;
    height: 400px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:after {
      content: " ";
      position: absolute;
      left: -13px;
      top: 60px;
      border-top: 8px solid transparent;
      border-right: 13px solid white;
      border-left: none;
      border-bottom: 8px solid transparent;
    }

    .item-name {
      margin-left: 20px;
      margin-top: 12px;
      font-size: 16px;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    .info-box-delimiter {
      margin-top: 5px;
    }

    .info-row {
      width: 100%;
      height: 20px;
    }

    .info-label {
      float: left;
      margin-left: 20px;
      color: $theme-color;
      font-size: 14px;
    }

    .info-text {
      float: right;
      margin-right: 25px;
      color: $theme-color;
      font-size: 14px;
    }

    .green-status {
      color: green;
    }

    .red-status {
      color: red;
    }

    .open-button {
      position: absolute;
      border-radius: 8px;
      width: 100px;
      height: 35px;
      left: 20px;
      bottom: 12px;
      background-color: #43b05c;
      color: #d9eede;
      text-align: center;
      font-size: 17px;

      &:hover {
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .open-button-text {
        margin-top: 4px;
      }
    }

    .unlink-button {
      position: absolute;
      bottom: 10px;
      right: 70px;

      &:hover {
        cursor: pointer;
      }
    }

    .copy-button {
      position: absolute;
      bottom: 10px;
      right: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .action-box {
    position: fixed;
    bottom: 22%;
    left: 25%;
    width: 900px;
    height: 550px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    .title {
      font-size: 16px;
      float: left;
      margin-top: 15px;
      margin-left: 10px;
      color: $theme-color;
    }

    .close-button {
      width: 15px;
      height: 15px;
      float: right;
      margin-top: 10px;
      margin-right: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    .action-box-content-wrapper {
      margin-top: 30px;
      height: 90%;

      .breadcrumbs {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 14px;

        .all-objects {
          color: #22b7f8;

          &:hover {
            cursor: pointer;
          }
        }

        .current-objects {
          color: $theme-color;
        }
      }

      // ruler
      .ruler-wrapper {
        position: relative;
        height: inherit;

        .items-row {
          font-size: 80%;
          height: 20%;
          position: relative;

          .item {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            width: 300px;
            height: 80px;

            .item-img {
              min-width: 45px;
              max-width: 50px;
              position: absolute;
              left: 43%;
              top: 5%;
            }

            .item-label {
              font-size: 13px;
              font-weight: normal;
            }
          }

          .first-item {
            margin-left: 10px;
            float: left;
          }

          .second-item {
            float: right;
          }

          .connection-line {
            position: absolute;
            width: 490px;
            height: 0;
            left: 207px;
            top: 22px;
            border-top: 1px solid blue;
            background-color: green;
          }
        }

        .buttons-wrapper {
          position: absolute;
          bottom: 0;
          right: 40px;

          .hidden {
            display: none;
          }

          .button {
            margin-right: 10px;
          }
        }
      }

      .adding-wrapper {
        width: inherit;
        height: 90%;
        padding: 20px;
        padding-top: 24px;
        padding-right: 0;

        .rectangle {
          width: 45px;
          height: 45px;
          background-color: #c3c3c3;
          margin-left: 40px;
          position: relative;

          &:hover {
            cursor: pointer;
          }

          span {
            color: $theme-color;
            position: absolute;
            right: -36px;
            top: 50px;
          }
        }

        .with-no-right-margin {
          margin-right: 0;
        }

        .add-item {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          position: relative;
          padding-bottom: 10px;
          float: left;
          margin-right: 43px;
          margin-bottom: 20px;
          width: 132px;
          height: 132px;
          border: 2px solid #e2e2e2;
          border-radius: 6px;
          color: $theme-color;

          &:hover {
            cursor: pointer;
          }

          span {
            font-size: 15px;
          }

          .object-type-img {
            width: 60px;
            position: absolute;
            bottom: 30%;
          }

          .uncentered-img {
            margin-left: 11px;
          }

          .uncentered-text {
            margin-right: 5px;
          }
        }

        .item {
          color: $theme-color;
          font-size: 15px;
          float: left;
          margin-right: 28px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          width: 143px;
          height: 100px;

          &:hover {
            cursor: pointer;
          }

          span {
            font-size: 13px;
          }

          img {
            position: absolute;
            top: 30px;
            width: 40px;
            height: 40px;
          }

          .zone-name {
            width: 140px;
            margin-bottom: -10px;
            margin-left: 10px;
          }
        }

        .map-selecting-wrapper {
          width: 70%;
          height: 100%;
          margin-right: 20px;
          float: right;
          overflow-y: scroll;
          border: 1px solid $theme-color;

          .map-name-search-box {
            position: absolute;
            top: 80px;
            left: 262px;
            width: 250px;
          }

          a {
            &:hover {
              cursor: pointer;
            }
          }
        }

        .add-zone-button {
          position: absolute;
          left: 30px;
          bottom: 270px;
        }

        .add-map-button {
          margin-top: 5px;
        }

        .info-label {
          display: none;
          margin-left: 5px;
        }
      }
    }
  }
}

// inspinia sidebar
.sidebar-open {
  min-width: 420px;
}

.whole-info {
  position: relative;
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
  color: black;

  .form-control {
    margin-bottom: 5px;
  }

  .whole-info-buttons-wrapper {
    position: absolute;
    bottom: 25px;
    right: 20px;

    .save-changes-btn {
      display: none;
    }

    img {
      margin-right: 10px;
      width: 35px;
      height: 35px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .whole-info-content-wrapper {
    padding: 20px;

    .editing {
      min-height: 60px;
      height: auto;
      &:hover {
        cursor: text;
      }
    }

    label {
      color: $theme-color;
      font-weight: normal;
    }

    textarea {
      width: 100%;
    }
  }

  .whole-info-ip-address {
    font-size: 14px;
  }
}

.search-box {
  display: none;
  width: 500px;
  height: auto;
  max-height: 600px;
  position: absolute;
  top: 50px;
  left: 80px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 14px;
  padding: 10px;
  padding-top: 15px;
  z-index: 2;

  .search-row {
    span {
      color: white;
      background-color: #54c995;
    }

    width: 100%;

    &:hover {
      cursor: pointer;
    }

    svg {
      float: right;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
}

.confirm-box {
  height: 400px;
  width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 30%;
  left: 30%;
  background-color: white;
  display: none;

  .confirm-box-message {
    text-align: center;
    margin-top: 55px;

    span {
      color: #ff1f47;
      font-size: 19px;
    }

    .img-wrapper {
      width: 100%;
      margin-bottom: 12px;

      img {
        width: 55px;
        height: 55px;
      }
    }
  }

  .confim-box-confirmation-wrapper {
    text-align: center;
    margin-top: 80px;
    font-size: 15px;
    color: $theme-color;

    span {
      font-weight: bold;
    }
  }

  .confirm-box-buttons-wrapper {
    text-align: center;
    margin-top: 40px;

    .left-button {
      font-size: 15px;
      width: 190px;
      height: 45px;
      background-color: white;
      border: 1px solid #cbcbcb;
      border-radius: 6px;
      margin-right: 22px;
    }

    .right-button {
      font-size: 15px;
      width: 190px;
      height: 45px;
      margin-left: 22px;
      background-color: #ff1f47;
      border-radius: 6px;
      color: white;
      border: none;
    }
  }
}

.top-navbar-wrapper {
  background-color: #f3f3f4;
  position: fixed;
  z-index: 2;
}

.head-wrapper {
  position: fixed;
  z-index: 1;
  top: 61px;

  .head-buttons-wrapper {
    border: 1px solid #e4e4e4;
    width: 202px;
    border-radius: 7px;
    margin-top: 20px;

    button {
      background: white;
      font-size: 15px;
      border: 0;
      height: 30px;
      width: 50%;
      color: $theme-color;

      img {
        width: 15px;
        height: 15px;
      }
    }

    .head-button-active {
      background: #18a689;
      color: white;
    }

    .right-button {
      border-radius: 0 7px 7px 0;

      img {
        margin-right: 3px;
        margin-top: -3px;
      }
    }

    .left-button {
      float: left;
      border-radius: 7px 0 0 7px;

      img {
        margin-bottom: 2px;
      }
    }
  }

  .head-controll-buttons {
    margin-right: 20px;
    div {
      display: inline-block;
    }
  }
}

.width96 {
  transition: all 0.5s ease;
  width: 96%;
}

.width88 {
  transition: all 0.5s ease;
  width: 88%;
}

.ibox-content {
  margin-top: 166px;
}
