.title-text {
  float: left;
  margin-left: 100px;
}

/* add button */
#add_button {
  background-color: #43b05c;
  border-radius: 8px;
  float: right;
  width: 140px;
  height: 40px;
  margin-right: 20px;
}

#add_button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#add_button #plus_icon {
  margin-top: 5px;
  float: left;
}
#add_button #text {
  margin-top: 7px;
  color: #d9eede;
}

/* ruler button */
#ruler_button {
  float: right;
  margin-right: 30px;
}

#ruler_button:hover {
  cursor: pointer;
}

/*                 */

/* info box */

#info_box {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#info_box:after {
  content: " ";
  position: absolute;
  left: -13px;
  top: 60px;
  border-top: 8px solid transparent;
  border-right: 13px solid white;
  border-left: none;
  border-bottom: 8px solid transparent;
}

.item-name {
  margin-left: 20px;
  margin-top: 12px;
}

.info-box-delimiter {
  margin-top: 5px;
}

.info-label {
  float: left;
  margin-left: 20px;
  color: #808080;
  font-size: 14px;
}

.info-text {
  float: right;
  margin-right: 25px;
  color: #808080;
  font-size: 14px;
}

.green-status {
  color: green;
}

.item-actions {
  margin-top: 20px;
  height: 60px;
}
.open-button {
  position: absolute;
  border-radius: 8px;
  width: 100px;
  height: 35px;
  left: 20px;
  bottom: 12px;
  background-color: #43b05c;
  color: #d9eede;
  text-align: center;
}

.open-button-text {
  margin-top: 4px;
}

.open-button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.unlink-button {
  position: absolute;
  bottom: 10px;
  right: 120px;
}

.unlink-button:hover {
  cursor: pointer;
}

.copy-button {
  position: absolute;
  bottom: 10px;
  right: 70px;
}

.copy-button:hover {
  cursor: pointer;
}

.delete-button {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.delete-button:hover {
  cursor: pointer;
}
/*                */

/* action box */
.action-box {
  position: absolute;
  bottom: 80%;
  right: 150px;
  width: 900px;
  height: 550px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.action-box .title {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  color: #808080;
}

.action-box .close-button {
  width: 15px;
  height: 15px;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}

.action-box .close-button:hover {
  cursor: pointer;
}

/* action box ruler */
.action-box .ruler-navigation {
  margin-left: 25px;
  width: 25%;
  height: 450px;
  border-right: 1px solid #808080;
}

.action-box .ruler-main {
  position: relative;
  width: 70%;
}

.action-box .block-wrapper {
  margin-top: 30px;
}

.action-box .items-row {
  font-size: 80%;
  height: 20%;
  position: relative;
}

.action-box .items-row .item-label {
  position: absolute;
  bottom: 10px;
}

.action-box .items-row .item-img {
  position: absolute;
  left: 130px;
  top: 0;
}

.action-box .items-row .first-item {
  float: left;
  position: relative;
  width: 300px;
  margin-left: 10px;
  height: 80px;
}

.action-box .items-row .second-item {
  float: right;
  position: relative;
  width: 300px;
  height: 80px;
}

.action-box .items-row .connection-line {
  position: absolute;
  width: 243px;
  height: 0;
  left: 207px;
  top: 22px;
  border-top: 1px solid blue;
  background-color: green;
}

.action-box .items-row .unlink-line {
  width: 500px !important;
}

.action-box .connection-type {
  color: #515151;
  font-size: 95%;
  margin-bottom: 15px;
}

.action-box .ruler-navigation .ruler-title {
  color: #808080;
  font-size: 90%;
  margin-bottom: 20px;
}

.action-box .connection-type input {
  float: right;
  margin-right: 15px;
  margin-top: 4px;
  cursor: pointer;
}

.action-box .confirm-button {
  position: absolute;
  left: 488px;
  bottom: 0;
  background-color: #43b05c;
  border-radius: 8px;
  float: right;
  width: 140px;
  height: 40px;
}

.action-box .unlink-confirm-button {
  left: 710px !important;
  bottom: 20px !important;
  width: 163px !important;
}

.confirm-button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.action-box .confirm-button .text {
  margin-top: 7px;
  color: #d9eede;
  margin-left: 29px;
}
/* */

#canvas_wrapper {
  position: relative;
}

canvas {
  width: 4000px;
  height: 4000px;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#action_wrapper {
  height: 40px;
  margin-top: 20px;
  width: inherit;
}

#wrapper {
  width: 1200px;
}
