$theme-color: #808080;

// action wrapper
.action-wrapper {
  height: 65px;
  margin-top: 20px;
  width: 100%;
  position: fixed;
  background-color: white;
  margin-top: 0;
  padding-top: 20px;
  margin-left: 10px;

  .title-text {
    float: left;
    margin-left: 100px;
  }

  .add-button {
    background-color: #43b05c;
    border-radius: 8px;
    float: right;
    width: 140px;
    height: 40px;
    margin-right: 20px;

    &:hover {
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .plus-icon {
      margin-top: 5px;
      float: left;
    }

    .add-button-text {
      margin-top: 7px;
      color: #d9eede;
    }
  }

  .ruler-button {
    float: right;
    margin-right: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  .action-wrapper-button {
    float: right;
    margin-right: 5px;
    margin-top: 1px;
  }
}

// end of action wrapper

// canvas wrapper

.canvas-wrapper {
  canvas {
    width: 4000px;
    height: 4000px;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin: 10px;
    margin-top: 65px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  // info box
  .info-box {
    position: absolute;
    width: 300px !important;
    height: 400px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:after {
      content: " ";
      position: absolute;
      left: -13px;
      top: 60px;
      border-top: 8px solid transparent;
      border-right: 13px solid white;
      border-left: none;
      border-bottom: 8px solid transparent;
    }

    .item-name {
      margin-left: 20px;
      margin-top: 12px;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    .info-box-delimiter {
      margin-top: 5px;
    }

    .info-label {
      float: left;
      margin-left: 20px;
      color: $theme-color;
      font-size: 14px;
    }

    .info-text {
      float: right;
      margin-right: 25px;
      color: $theme-color;
      font-size: 14px;
    }

    .green-status {
      color: green;
    }

    .open-button {
      position: absolute;
      border-radius: 8px;
      width: 100px;
      height: 35px;
      left: 20px;
      bottom: 12px;
      background-color: #43b05c;
      color: #d9eede;
      text-align: center;

      &:hover {
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .open-button-text {
        margin-top: 4px;
      }
    }

    .unlink-button {
      position: absolute;
      bottom: 10px;
      right: 120px;

      &:hover {
        cursor: pointer;
      }
    }

    .copy-button {
      position: absolute;
      bottom: 10px;
      right: 70px;

      &:hover {
        cursor: pointer;
      }
    }

    .delete-button {
      position: absolute;
      bottom: 10px;
      right: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  // action box

  .action-box {
    position: fixed;
    bottom: 22%;
    left: 25%;
    width: 900px;
    height: 550px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    .title {
      float: left;
      margin-top: 15px;
      margin-left: 10px;
      color: $theme-color;
    }

    .close-button {
      width: 15px;
      height: 15px;
      float: right;
      margin-top: 10px;
      margin-right: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    .action-box-content-wrapper {
      margin-top: 30px;
      height: 90%;

      .breadcrumbs {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 14px;

        .all-objects {
          color: #22b7f8;

          &:hover {
            cursor: pointer;
          }
        }

        .current-objects {
          color: $theme-color;
        }
      }

      // ruler
      .ruler-wrapper {
        position: relative;
        height: inherit;

        .items-row {
          font-size: 80%;
          height: 20%;
          position: relative;

          .item {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            width: 300px;
            height: 80px;

            .item-img {
              position: absolute;
              left: 43%;
              top: 5%;
            }
          }

          .first-item {
            margin-left: 10px;
            float: left;
          }

          .second-item {
            float: right;
          }

          .connection-line {
            position: absolute;
            width: 490px;
            height: 0;
            left: 207px;
            top: 22px;
            border-top: 1px solid blue;
            background-color: green;
          }
        }

        .buttons-wrapper {
          position: absolute;
          bottom: 0;
          right: 40px;

          .hidden {
            display: none;
          }

          .button {
            margin-right: 10px;
          }
        }
      }

      .adding-wrapper {
        width: inherit;
        height: 90%;
        padding: 20px;
        padding-top: 24px;
        padding-right: 0;

        .with-no-right-margin {
          margin-right: 0;
        }

        .add-item {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          position: relative;
          padding-bottom: 10px;
          float: left;
          margin-right: 43px;
          margin-bottom: 20px;
          width: 132px;
          height: 132px;
          border: 2px solid #e2e2e2;
          border-radius: 6px;
          color: $theme-color;

          &:hover {
            cursor: pointer;
          }

          .object-type-img {
            width: 60px;
            position: absolute;
            bottom: 30%;
          }

          .uncentered-img {
            margin-left: 11px;
          }

          .uncentered-text {
            margin-right: 5px;
          }
        }

        .item {
          color: $theme-color;
          font-size: 15px;
          float: left;
          margin-right: 28px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          width: 143px;
          height: 100px;

          &:hover {
            cursor: pointer;
          }

          img {
            position: absolute;
            top: 30px;
            width: 40px;
            height: 40px;
          }

          .zone-name {
            width: 140px;
            margin-bottom: -10px;
            margin-left: 10px;
          }
        }

        .map-selecting-wrapper {
          width: 70%;
          height: 100%;
          margin-right: 20px;
          float: right;
          overflow-y: scroll;
          border: 1px solid $theme-color;

          .map-name-search-box {
            position: absolute;
            top: 80px;
            left: 262px;
            width: 250px;
          }

          a {
            &:hover {
              cursor: pointer;
            }
          }
        }

        .add-zone-button {
          position: absolute;
          left: 30px;
          bottom: 270px;
        }

        .add-map-button {
          margin-top: 5px;
        }

        .info-label {
          display: none;
          margin-left: 5px;
        }
      }
    }
  }

  .whole-info {
    position: fixed;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 450px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    top: 70px;
    right: 20px;

    .close-button {
      width: 15px;
      height: 15px;
      float: right;
      margin-top: 10px;
      margin-right: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      width: inherit;
      height: 30px;
      margin-top: 5px;
    }

    .whole-box-editable {
      margin-left: 2px;
      min-height: 25px;
    }

    .whole-box-editing {
      border: 1px solid $theme-color;
      border-radius: 5px;
    }

    .item-name {
      word-wrap: break-word;
      overflow-wrap: break-word;
      padding-left: 2px;
    }

    .description {
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    .ip-address {
      color: $theme-color;
    }

    .guide-label {
      color: $theme-color;
    }

    .device-buttons-wrapper {
      margin-top: 15px;

      img:hover {
        cursor: pointer;
      }

      img {
        width: 40px;
        height: 40px;
      }

      div {
        float: right;
        margin-right: 10px;
      }

      .save-changes-button {
        display: none;
      }
    }
  }
}

// end of canvas wrapper
