<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a href="#">
            <span></span>
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">DEVT</strong>
              </span>
            </span>
          </a>
        </div>
        <div class="logo-element">
          D
        </div>
      </li>
        <li>
          <a href="https://whatsup.vgg.ru">
            <i class="fa fa-home"></i>
            <span class="nav-label">Верхний уровень</span>
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-file-text"></i>
            <span class="nav-label">Уровень логов</span>
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-search"></i>
            <span class="nav-label">Расширенный поиск</span>
          </a>
        </li>
    </ul>
  </div>
</nav>
