<div id="right-sidebar">
  <div class="sidebar-container">
    <div class="tab-content whole-info">
      <div id="close_whole_info_button_top" class="close-whole-info-button-top">
        <%= image_tag "close_button.svg" %>
      </div>
      <div id="tab-1" class="tab-pane active">

        <div class="sidebar-title">
          <h3 id="whole_info_name" class="whole-info-name"></h3>
          <div id="whole_info_ip" class="whole-info-ip-address"></div>
        </div>

        <div class="popup-window-body">
          <div class="whole-info-content-wrapper">
            <label>Адрес:</label>
            <div id="whole_info_address"></div>
            <hr>
            <label>Описание:</label>
            <div id="whole_info_description"></div>
            <hr>
            <label>Контакты:</label>
            <div id="whole_info_contacts"></div>
            <hr>
            <div>
              <label>Мониторинг:</label>
              <div class="checkbox-input-wrapper">
                <input type="checkbox" autocomplete="off" id="whole_info_monitored_checkbox"></input>
              </div>
            </div>
          </div>
        </div>

        <div class="whole-info-buttons-wrapper">
          <div id="close_whole_info_button_bottom" class="close-whole-info-button-bottom">
            <div>Закрыть</div>
          </div>
          <img id="edit_device_button" src="<%= asset_path('edit_icon.svg') %>">
          <button id="save_changes_button" class="btn btn-success save-changes-btn">Сохранить</button>
          <img id="whole_box_delete_button" src="<%= asset_path('delete_icon.svg') %>">
        </div>
      </div>
    </div>
  </div>
</div>
